<section class="work-section">
  <% @data.projects.each do |project| %>
    <div class="card mb-3">
      <div id="carousel<%= project['id'] %>" class="carousel slide">
          <div class="carousel-inner">
            <% project["images"].each_with_index do |image, index| %>
              <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                <img src="<%= image["url"] %>" class="d-block w-100 carousel-img" alt="project-img">
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel<%= project['id'] %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel<%= project['id'] %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <div class="card-body">
        <a href="<%= project['link'] %>" class="card-title project-link"><%= project["title"] %></a>
        <p class="card-text"><%= project["description"] %></p>
        <p class="card-text"><small class="text-body-secondary"><%= Date.strptime(project["created_at"], '%b %d, %Y') %> ago</small></p>
      </div>
    </div>
  <% end %>
</section>
